#canvasVisibleContent, #canvasSelectRegion {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width:70%; 
    width:auto; 
    max-height: 600px;
    height: auto; 
}

#divButtons {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(200,200,200,0.8);
    padding: 10px;
}

#divButtonsFunctions {
    position: fixed;
    top: 10px;
    right: 10%;
    transform: translateX(-50%);
    background-color: rgba(200,200,200,0.8);
    padding: 10px;
}

#divFileBrowser {
    position: fixed;
    top: 10px;
    left: 20%;
    transform: translateX(-50%);
    background-color: rgba(200,200,200,0.8);
    padding: 10px;
}

#divResize, #divText {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: auto;
    height: auto; 
    z-index: 10;
    background-color: rgba(200,200,200,1);
    border: 2px solid black;
}

#divWidth, #divHeight, #divYesNo, #divTextYesNo {
    margin: 10px;
}

#inputWidth, #inputHeight {
    background-color: rgba(180,180,180,1);
}

#buttonApply, #buttonTextApply {
    background-color: rgb(36, 137, 36);
    margin-left: 30px;
    margin-right: 30px;
}

#buttonCancel, #buttonTextCancel {
    background-color: rgb(181, 30, 30);
    margin-left: 30px;
    margin-right: 30px;
}